{% extends "calculator/base.html" %}

{% block title %}
    {{ name }} | HomeSpace Calculator
{% endblock %}

{% block content %}

    <section class="card">

        <h1>{{ name }}</h1>

        <p>
            Minimalna powierzchnia bazowa:
            <strong>{{ minimum_area }} m²</strong>
        </p>

        <p>
            {{ description }}
        </p>

    </section>


    <section class="card">

        <h2>
            Co uwzględnia ta powierzchnia?
        </h2>

        <ul>
            {% for item in equipment %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>

    </section>


    <section class="card">

        <h2>
            Przykładowe wymiary
        </h2>

        <ul>
            {% for example in examples %}
                <li>{{ example }}</li>
            {% endfor %}
        </ul>

    </section>


    <section class="card">

        <a
            href="{% url 'calculator' %}"
            class="button"
        >
            Przejdź do kalkulatora
        </a>

    </section>

{% endblock %}