{% extends "calculator/base.html" %}


{% block title %}
    Usuń obliczenie | HomeSpace Calculator
{% endblock %}


{% block content %}

    <section class="card card-small">

        <h1>
            Usuń obliczenie
        </h1>

        <p>
            Czy na pewno chcesz usunąć obliczenie:
        </p>

        <p>
            <strong>
                {{ calculation.name }}
            </strong>
        </p>

        <p>
            Tej operacji nie będzie można cofnąć.
        </p>


        <form method="post">

            {% csrf_token %}

            <button
                type="submit"
                class="button button-danger"
            >
                Usuń obliczenie
            </button>

            <a
                href="{% url 'calculation_detail' calculation.id %}"
                class="button button-secondary"
            >
                Anuluj
            </a>

        </form>

    </section>

{% endblock %}